@use 'igz-controls/scss/colors';

.llm-artifacts {
  height: 100%;

  .table-body__cell {
    .name-wrapper {
      width: 100%;

      .link {
        color: colors.$cornflowerBlue;
      }
    }
  }
}
